* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.mysamerow {
  display: flex;
  justify-content: center;
  align-self: center;
}

.myrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  width:13vw;
  height: 16vh;
  margin: 2vw;
  background-color: #D6E9FE;
}



.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width : 10vw;
  height : 10vh;
}

.row1 {
  width:13vw;
}

.row2 {
  width:26vw;
}

.row3 {
  width:39vw;
}

.row4 {
  width:42vw;
}

.row5 {
  width:55vw;
}

.item-relative2 {
  position: relative;
  left: -7vw;
  align-self: flex-end;
  background-color:rgb(80, 189, 153);
  height: 3vh;
  width: 2vw;
  font-size: 2vw;

}
