* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.myrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  width:39vw;
  height: 16vh;
  /* margin: 2vw; */
  background-color: #D6E9FE;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width : 10vw;
  height : 10vh;
}
