.content-wrapper{
  display: flex;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: rgba(30, 30, 30);
  color: rgb(63, 207, 195);
  font-size: 4vh;
  font-weight: bold;
  float: left;
}

.footer {
  background: rgb(31, 100, 212);
  color: rgb(8, 8, 8);
  color: white;
  font-size: 3vh;

}

.main {
  text-align: left;
  background: rgba(80, 80, 80);
  color: rgb(247, 239, 239);
}

.aside-1 {
  background: #111;
  color: rgb(209, 193, 119);



}


body {
  padding: 0.5em;
}

body {
  background-color : rgb(5,5,5);
}


.sidebar {
  height: 80vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1rem;


}

.sidebar a {
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #f1f1f1;
}

/* #main {
  transition: margin-left .5s;
  padding: 16px;
} */


.sidebar-open  {
  /* width: 250px; */
  display: block;

}

.sidebar-close {
  /* width: 0; */
  display: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 1vw;
}

.openbtn:hover {
  background-color: #444;
}

/* .main-open  {
	margin-left: 250px;
}

.main-close {
  margin-left: 0;
} */



@media all and (min-width: 600px) {
  .aside-1   { flex: 1 }
  .main    { flex: 10  }
  .aside-1 { order: 1 }
  .main    { order: 2 }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */
